<% provide(:title, 'Create') %>
<h1>イベント作成</h1>

<div class="row">
  <div class="span8 offset2">
    <%= form_for(@event) do |f| %>
      <% @event.public_date = Date.today %>
      <% @event.end_date = (Date.today >> 2) - 1 %>
      <% @event.prefecturecd = 13 %>
      <%= render 'fields', f: f %>
      <%= f.submit "登録", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
